:root {
    margin: 0;
    padding: 0;
    border: 0;
}
hmtl{
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth !important;
}



body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
 /* background-image: url(../images/fhcc.png)!important;*/
  background-color: #fafafa; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
}


.container {
  display: grid;
  height: 140vh;
  justify-content: center;
  grid-template-columns: 2fr 2fr;
  grid-auto-rows: 0.2fr 0.2fr 0.1fr 0.1fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.1fr;
  grid-template-areas:
      
    "nav nav"
    "main main"
    "content1 content2"
    "content3 content4"
    "content5 content6"
    "content7 content8"
    "content9 content10"
    "content11 content12"
    "content13 content14"
    "content15 content16"
    "content17 content18"
    "content19 content20"
    "content21 content22"
    "content23 content24"
    "content25 content26"
    "footer footer";
    
  grid-gap: 0.5rem;
  /*--text-transform: uppercase;#FCFBFB--*/
  margin-top: 0px;
  width: 660px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  background-color: #fff1f1;
  border-radius: 10px;
  box-shadow: 0px 4px 20px 1px rgba(251, 167, 167, 0.51);
    
}


h1, h2, h3, h4, h5, h6, p,{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
    text-decoration: none;
}

nav {
  background: #d11414;
  grid-area: nav;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  grid-gap: 0 !important;

    
}
nav{
    padding: 0px;
    margin: 0px;
    width: 660px;
    margin: auto;
}

.navbar{
    
    display: flex;
    justify-content: center;
}

.img{
    display: block;
    width: 50%;
    margin: auto; 
}

.topbar{
        margin: auto;
        
        padding-bottom: 20px;
        padding-top: 20px;
        text-align: center;
        justify-content: center;
}

.topbar_title{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 0px;
    
}

.topbar_heading{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}

#line_septor{
    background-color: #ff6f6f;
    height: 1px;
    width: 60%;
    margin: auto;
}

#p-text{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding-top: 20px;
}
#btn-txt{
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    
}
#adm_btn{
    color: #fff;
    padding: 7px !important;
    background-color: #ff6b6b;
    margin-top: 10px;
    width: 100px;
    margin-bottom: 0;
    outline: none;
    border: none;
    border-radius: 20px;
}
#adm_btn:hover{
    background-color:#d87e7e ;
    transition: all 0.2s ease 0s;
    padding-right: 10px !important;
}



/*-------------------------------------------MAIN SECTION STICKY PART ------------------------------#775454------------------*/

#main{
  background: #ff8686;
  grid-area: main;
  border-radius: 10px;
  margin-top: -0.5rem !important;
  width: 630px;
  height: 150px;
  margin: auto;
  padding: 0px;
  box-shadow: 0px 4px 20px 1px rgba(251, 167, 167, 0.21);
}

.annouce{
    color: #fff;
    text-align: center;
    padding: 18px;
    background-color: #775454;
}

#note_msg{
    color: #fff;
    font-size: 11px !important;
    font-weight: 400 !important;
    padding-top: 7px;
}

.heading_msg{
    text-align: center;
    padding-bottom: 8px;
    padding-top: 10px;
}

.sticky{
    position: fixed;
    top: 0;
}





/*---------------------------------------------   FOOTER SECTION  ------------------------------------#d87e7e------------*/

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #ff8686; 
  color: #fff;
  cursor: pointer; 
  padding: 15px; 
  border-radius: 15px; 
  font-size: 16px; 
}

#myBtn:hover {
  background-color: #fff;
  color: #ff8686;
}



footer {
  background: #ff8686;
  grid-area: footer;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 10px;
    margin-bottom: 0;
   padding: 0px;
  
}

.btm_main{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.social{
    color: #fff;
    display: flex;
    text-align: center;
   justify-content: center;
}

.dwn_dt{
    display: flex;
    flex-direction: column;
    float: left;
}

#footnote{
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    color: #fff;
}

.msgme{
    margin-top: 7px;
    color: #FBA7A7;
    font-size: 14px;
    font-weight: 600;
}


.go_up{
    display: flex;
    position: relative;
    font-size: 16px;
    width: 30px;
    height: 50px;
    text-align: center;
    color:#e34444; 
    background-color: #fafafa;
    margin-bottom: 15px;
    margin-right: 120px;
    border-radius: 15px;
    box-shadow: 0px 4px 20px 1px rgba(85, 85, 85, 0.21);
} 


/*--------------------------------------------------- FOOTER END--------------------------------------------*/





/*-----------------------------------CONTENT 1-------------------------------------*/

.image_contr{
    display: flex;
    justify-content: center;
    padding: 30px;
    
}

#content1 { 
    /*background: #fafafa;*/
    grid-area: content1;
    margin-left: 20px;
}

.thumbnail_1{
    display: block;
    border-radius: 5px;
    height: auto;
    width: 90%;
    box-shadow: 0px 4px 20px 1px rgba(251, 167, 167, 0.71); 
}


/*-----------DOWNLOAD SECTION---------*/


#content2 {
  /*background: #fafafa;*/
  grid-area: content2;
  padding-top: 30px;
}

.title{
    color: #4b4b4b;
    font-size: 24px;
    font-weight: 800;
    line-height: 25px;
}


.dwn_contr{
    padding: 16px;
    margin-right: 30px;
}

.downld_btns{
    padding-top: 14px;
    justify-content: space-between;
    margin-right: 25px;
}



button{
    font-size: 12px;
    border-radius: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
    border: none;
}

button:hover{
    background-color: #F84B4B;
    
}

.lbtn{
    color: #fff;
    background-color: #d32323;
    margin-right: 40px;
}
.bttn{
    color: #fff;
    background-color: #d32323;
}



/*------------------------------END SONG1 SECTION-------------------------*/



/*-----------------------------------------------------------------RESPONSIVE MEDIA-----------------------------------------------*/


@media only screen and (max-width: 550px) {
  .container {
      display: grid;
    height: 140vh;
      justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 0.02fr 0.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "nav"
      "main"
      "content1"
      "content2"
      "content3"
      "content4"
      "content5"
      "content6"
      "content7"
      "content8"
      "content9"
      "content10"
      "content11"
      "content12"
      "content13"
      "content14"
      "content15"
      "content16"
      "content17"
      "content18"
      "content19"
      "content20"
      "content21"
      "content22"
      "content23"
      "content24"
      "content25"
      "content26"
      "footer";
    grid-gap: 0.5rem;
  /*--text-transform: uppercase;#FCFBFB--*/
  margin-top: 0 !important;
  width: 460px;
  margin: auto;
  margin-bottom: 0 !important;
  background-color: #fff1f1;
  border-radius: 10px;
  box-shadow: 0px 4px 20px 1px rgba(251, 167, 167, 0.51);
      
  }
    
    nav{
    padding: 0px;
    margin: 0px;
    width: 480px;
    margin: auto;
       
}
    
  #main{
      width: 430px !important;
       
    }
    .sticky{
        margin-right: 40px !important;
    }
    #note_msg{
        
        font-size: 8px !important;
    }
    
    
    .thumbnail_1{
    
    height: auto;
    width: 100%;
    margin-left: -20px !important;
    
    }
    
    #content2{
        margin-top: -40px !important;
        margin: auto;
        padding: 25px;
    }
    
    .title{
        font-size: 18px;
    }
    
    
    .downld_btns{
    margin-right: 0px !important;
    }

    .dwn_contr{
    margin-right: 0 !important;
        justify-items: center !important;
        text-align: center;
    }



}
/*-------------------------------------------RESPONSIVE MEDIA END-----------------------------------*/


/*-----------------------------------------------------------------RESPONSIVE MEDIA - IPHONE ---------....................---------------------------*/
@media only screen and (max-width: 375px) {
  .container {
      display: grid;
    height: 160vh;
      justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 0.02fr 0.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "nav"
      "main"
      "content1"
      "content2"
      "content3"
      "content4"
      "content5"
      "content6"
      "content7"
      "content8"
      "content9"
      "content10"
      "content11"
      "content12"
      "content13"
      "content14"
      "content15"
      "content16"
      "content17"
      "content18"
      "content19"
      "content20"
      "content21"
      "content22"
      "content23"
      "content24"
      "content25"
      "content26"
      "footer";
    grid-gap: 0.5rem;
  /*--text-transform: uppercase;#FCFBFB--*/
  margin-top: 0 !important;
  width: 350px;
  margin: auto;
  margin-bottom: 0 !important;
  background-color: #fff1f1;
  border-radius: 10px;
  box-shadow: 0px 4px 20px 1px rgba(251, 167, 167, 0.51);
      
  }
    
    nav{
    padding: 0px;
    margin: 0px;
    width: 350px;
    margin: auto;
       
}
    
  #main{
      width: 320px !important;
       
    }

    #note_msg{
        padding-top: 14px;
        font-size: 6px !important;
    }
    
    
    .thumbnail_1{
    
    height: auto;
    width: 90%;
    margin-left: -20px !important;
    
    }
    
    #content2{
        margin-top: -40px !important;
        margin: auto;
        padding: 25px;
    }
    
    .title{
        font-size: 18px;
    }
    
    
    .downld_btns{
    margin-right: 0px !important;
    }

    .dwn_contr{
    margin-right: 0 !important;
        justify-items: center !important;
        text-align: center;
    }
    

}



