:root {
    margin: 0;
    padding: 0;
    border: 0;
}

html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    border: 0;
    
}



body {
  font-family: "Inter", sans-serif;
 /* background-image: url(../images/fhcc.png)!important;
  background-color: #fafafa; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;*/
  
}

a {
    text-decoration: none;
}

.topbar img{
    display: block;
    margin: auto; 
    width: 10%;
    height: auto;
}

.topbar{
        margin:0 auto;
        padding: 20px;
        text-align: center;
        justify-content: center;
}

.topbar_title{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.topbar_heading{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    line-height: 56px;
}

#line_septor{
    background-color: #ff6f6f;
    height: 1px;
    width: 60%;
    margin: auto;
}

#p-text{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding-top: 20px;
}
#btn-txt{
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    
}
#adm_btn{
    color: #fff;
    padding: 7px 14px;
    background-color: #ff6b6b;
    margin-top: 10px;
    margin-bottom: 0;
    outline: none;
    border: none;
    border-radius: 20px;
}

#adm_btn:hover{
    background-color:#ff4141 ;
    transition: all 0.1s ease 0s;

}



/*-----------SET TO=W-100% FOR MOBILE RESPNVE-----------*/
nav{
    padding: 0px;
    margin: 0px;
    width: 660px;
    margin:0 auto;
    
}

#navbg{
    box-shadow: 0px 4px 20px 1px rgba(102, 102, 102, 0.21); 
}


/*-----------SET TO=W-100% FOR MOBILE RESPNVE-----------*/
.navbar{
    display: grid;
    grid-template-columns: 2fr;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: center;
    margin-top: 50px;
    z-index: 30;
    background: #d11414;
    
}
  




/*-------------------------------------------MAIN SECTION STICKY PART ------------------------------#775454------------------*/




/*-----------SET TO=W-100% FOR MOBILE RESPNVE-----------*/
#carousel{
    display: grid;
    grid-template-columns: 2fr;
    grid-area: main;
    margin: 0 auto;
    padding:0 10px;
    width: 660px;
    background-color: #fff;
    box-shadow: 0px 4px 20px 1px rgba(102, 102, 102, 0.21);
}

/*-----------SET TO=W-100% FOR MOBILE RESPNVE-----------*/
#main{
  background: #ff8686;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: -0.5rem !important;
  z-index: 11;
}

/*--.........................................................-*/



#slider {
	overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 150px;
    background-image: url(slider3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


#slider figure {
	object-fit: contain;
    position: relative;
    width: 500%;
    margin: 0;
	left: 0;
	animation: 25s slider infinite;
}

#slider figure img {
	width: 20%;
	float: left;
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
    120% {
		left: -400%;
	}
}

/*--.........................................................-


.annouce{
    color: #fff;
    text-align: center;
    padding: 18px;
    background-color: #775454;
}

#note_msg{
    color: #fff;
    font-size: 11px !important;
    font-weight: 400 !important;
    padding-top: 7px;
}

.heading_msg{
    text-align: center;
    padding-bottom: 8px;
    padding-top: 10px;
}
*/

.sticky{
    position: fixed;
    top: 0;

}



/*-----------------------------------CONTENT 1-------------------------------------*/

/*-----------SET TO=W-100% FOR MOBILE RESPNVE-----------*/
#site-container{
    display: grid;
    width: 660px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 4px 20px 1px rgba(102, 102, 102, 0.21);
    justify-content: center;
    padding-top: 10px;
}


/*-----------SET TO=1FR  FOR MOBILE RESPNVE-----------*/
.contents{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    padding-top: 25px;
}


.image_contr img{
    display: block;
    margin:0 auto; 
    width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 20px 1px rgba(248, 150, 150, 0.81);
    transition: transform .1s ease-out 0.2s;
}

.image_contr:hover{
    transform: scale(1.01);
}

.content1 .image_contr{
    object-fit: contain;

}

.content1{
    margin-left: 40px;
    margin-bottom: 25px;
    
}

.content2{
    margin-right: 40px;
    margin-bottom: 25px;
}
.content2 .dwn_contr{
    padding: 20px;
}

.dwn_contr .title{
    color: #4b4b4b;
    font-size: 22px;
    font-weight: 800;
    line-height: 23px;
}

.downld_btns{
    display: block;
    justify-content: space-between;
    padding: 0;
    margin-top: 5px;
}

#art-name{
    margin-top: 5px;
    margin-bottom: 5px;
}

.bttn{
    display: block;
    height: 42px;
    padding: 0 20px;
    color: #fff;
    background: #ef4c4c;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-size: 12px;
    font-weight: 500;
    align-items: center;
    float: left;
}

.butto{
    display: block;
    height: 42px;
    padding: 0;
    background: #ef4c4c;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-size: 12px;
    font-weight: 500;
    float: left;
    margin-right: 30px;
}

.butto:hover{
    background: #ff5757;
}
.bttn:hover{
    background: #ff5757;
}

#button_text, #button_icon  {
    display: inline-flex;
    align-items: center;
    padding:0 14px;
    color: #fff;
    height: 100%;
}

#button_icon{
    font-size: 12px;
    background: rgba(0,0,0,0.08);
    z-index: 1;
}

.pagination{
    display: inline-block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.pagination .active{
    border: 1px solid #f89b9b;
    background-color: #fafafa;
    border-radius: 100px;
}
.pagination a{
    color: #4b4b4b;
    font-size: 13px;
    float: left;
    padding: 8px 14px;
    text-decoration: none;
    border: 0;
}
.pagination a:hover {
    border: 1px solid #dddddd;
    border-radius: 100px;
}

/*------------------------------END SONG1 SECTION-------------------------*/




/*---------------------------------------------   FOOTER SECTION  ------------------------------------#d87e7e------------*/


/*-----------SET TO=W-100% FOR MOBILE RESPNVE-----------*/
#footer-bottom{
    width: 660px;
    margin:auto;
    margin-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #ff8686;
    box-shadow: 0px 4px 20px 1px rgba(102, 102, 102, 0.21);
}

#footer-bottom .container{
    display: grid;
    justify-content: center;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}


/*-----------SET TO=1FR  FOR MOBILE RESPNVE-----------*/
.f-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 5px 0;
}

.container h6{
	font-size: 16px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 15px;
	font-weight: 500;
    padding-top: 8px;
}


.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 10px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #ff8686;
	background-color: #ffffff;
}

#footnote{
    text-align: center;
    font-size: 10px;
    font-weight: 100;
    color: #fff;
    padding-top: 10px;
}


/*----Scroll to top Bttn-----*/
#myBtn { 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 9; 
    border: none; 
    outline: none; 
    background-color: rgba(255, 179, 179, 0.24); 
    color: #ffb6b6;
    cursor: pointer; 
    padding: 12px; 
    border-radius: 163px; 
    font-size: 16px; 
  }
  
  #myBtn:hover {
    background-color: rgba(255, 179, 179, 0.83);
    color: #fff;
      outline: none;
  }
  
  /*----Scroll to top END-----*/


/*--------------------------------------------------- FOOTER END--------------------------------------------*/




/*----------------------------------------------------MEDIA 768px----------------------------------------------------------------*/


@media only screen and (max-width: 768px){
  nav {
    width: 100%;
  }
    
  .navbar{
    margin-top: 0 !important;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
 
  #carousel{
    width: 100%;
  }

  #main{
    width: 100%;
  }

  #slider figure{
    width: 50px; 
  }

  #slider figure {
    width: 550%;
    margin: 0;
    left: 0;
}

#slider figure img {
	width: 25%;
	float: left;
}

  #site-container{
    width: 100%;
  }
.contents{
    grid-template-columns: 1fr;
}

.content1{
    margin-left: 0px;
    margin-bottom: 10px;
    
}

.content2{
    display: grid;
    margin-right: 0px;
    margin-bottom: 10px;
}

.dwn_contr{
    display: grid;
    justify-content: center;
    text-align: center;
}

.downld_btns{
    padding-top: 6px;
    display: block;
    margin: 0 auto;
}

#footer-bottom{
    width: 100%;
    margin-bottom: 0;
}



}


/*----------------------------------------------------MEDIA 540px----------------------------------------------------------------*/


@media only screen and (max-width: 450px){
    nav {
      width: 100%;
    }
      
    .navbar{
      margin-top: 0 !important;
      width: 100%;
     border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    }
   
    #carousel{
      width: 100%;
    }
  
    #main{
      width: 100%;
    }
  
    #slider figure{
      width: 50px; 
    }

    #slider figure {
        width: 950%;
        margin: 0;
        left: 0;
    }
    
    #slider figure img {
        width: 25%;
        float: left;
    }
  
    #site-container{
      width: 100%;
    }
  .contents{
      grid-template-columns: 1fr;
  }
  
  .content1{
      margin-left: 0px;
      margin-bottom: 10px;
      
  }
  
  .content2{
      display: grid;
      margin-right: 0px;
      margin-bottom: 10px;
  }
  
  .dwn_contr{
      display: grid;
      justify-content: center;
      text-align: center;
  }
  
  .downld_btns{
      padding-top: 6px;
      display: block;
      margin: 0 auto;
  }
  
  #footer-bottom{
      width: 100%;
      margin-bottom: 0;
  }
  
  .f-items{
      grid-template-columns: 1fr;
  }
  
  }
