:root {
    margin: 0;
    padding: 0;
    border: 0;
}
hmtl{
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth !important;
}



body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
 /* background-image: url(../images/fhcc.png)!important;*/
  background-color: #fafafa; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
}


.container {
  display: grid;
  height: 160vh;
  justify-content: center;
  grid-template-columns: 2fr 2fr;
  grid-auto-rows: 0.2fr 0.2fr 0.1fr 0.1fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.1fr;
  grid-template-areas:
      
    "nav nav"
    "main main"
    "content1 content2"
    "content3 content4"
    "content5 content6"
    "content7 content8"
    "content9 content10"
    "content11 content12"
    "content13 content14"
    "content15 content16"
    "content17 content18"
    "content19 content20"
    "content21 content22"
    "content23 content24"
    "content25 content26"
    "footer footer";
    
  grid-gap: 0.5rem;
  /*--text-transform: uppercase;#FCFBFB--*/
  margin-top: 0px;
  width: 660px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  background-color: #fff1f1;
  border-radius: 10px;
  box-shadow: 0px 4px 20px 1px rgba(251, 167, 167, 0.51);
    
}


h1, h2, h3, h4, h5, h6, p,{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
    text-decoration: none;
}

nav {
  background: #d11414;
  grid-area: nav;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  grid-gap: 0 !important;

    
}
nav{
    padding: 0px;
    margin: 0px;
    width: 660px;
    margin: auto;
}

.navbar{
    
    display: flex;
    justify-content: center;
}

.img{
    display: block;
    width: 50%;
    margin: auto; 
}

.topbar{
        margin: auto;
        padding-bottom: 20px;
        padding-top: 20px;
        text-align: center;
        justify-content: center;
}

.topbar_title{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 0px;
    
}

.topbar_heading{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}

#line_septor{
    background-color: #ff6f6f;
    height: 1px;
    width: 60%;
    margin: auto;
}

#p-text{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding-top: 20px;
}
#btn-txt{
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    
}
#adm_btn{
    color: #fff;
    padding: 7px !important;
    background-color: #ff6b6b;
    margin-top: 10px;
    width: 100px;
    margin-bottom: 0;
    outline: none;
    border: none;
    border-radius: 20px;
}
#adm_btn:hover{
    background-color:#d87e7e ;
    transition: all 0.2s ease 0s;
    padding-right: 10px !important;
}



/*-------------------------------------------MAIN SECTION STICKY PART ------------------------------#775454------------------*/

#main{
  background: #ff8686;
  grid-area: main;
  border-radius: 10px;
  margin-top: -0.5rem !important;
  width: 630px;
  height: 150px;
  margin: auto;
  padding: 0px;
  box-shadow: 0px 4px 20px 1px rgba(251, 167, 167, 0.21);
}

.annouce{
    color: #fff;
    text-align: center;
    padding: 18px;
    background-color: #775454;
}

#note_msg{
    color: #fff;
    font-size: 11px !important;
    font-weight: 400 !important;
    padding-top: 7px;
}

.heading_msg{
    text-align: center;
    padding-bottom: 8px;
    padding-top: 10px;
}

.sticky{
    position: fixed;
    top: 0;
}





/*---------------------------------------------   FOOTER SECTION  ------------------------------------#d87e7e------------*/


#myBtn { 
  position: fixed; 
  bottom: 20px; 
  right: 500px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: rgba(255, 179, 179, 0.24); 
  color: #ffb6b6;
  cursor: pointer; 
  padding: 12px; 
  border-radius: 163px; 
  font-size: 16px; 
}

#myBtn:hover {
  background-color: rgba(255, 179, 179, 0.83);
  color: #fff;
    outline: none;
}



.footer-col h4{
    display: none;
	font-size: 12px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 15px;
	font-weight: 500;
	position: relative;
    padding-top: 0px;
}


.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 10px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #ff8686;
	background-color: #ffffff;
}



footer {
  background: #ff8686;
  grid-area: footer;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0px;
  width: 660px;
  margin:auto;
  text-align: center;
  padding: 30px;
}


.btm_main{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.social{
    color: #fff;
    display: flex;
    text-align: center;
   justify-content: center;
}

.dwn_dt{
    display: flex;
    flex-direction: column;
    float: left;
}

#footnote{
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    color: #fff;
}

.msgme{
    margin-top: 7px;
    color: #FBA7A7;
    font-size: 14px;
    font-weight: 600;
}


.go-up{
    display: flex;
    width: 600px;
    margin: auto;
    
} 


/*--------------------------------------------------- FOOTER END--------------------------------------------*/





/*-----------------------------------CONTENT 1-------------------------------------*/

.image_contr{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-top: 20px;
    margin-left: 30px;
    
}

#content1 { 
    /*background: #fafafa;*/
    grid-area: content1;
    margin-left: 30px;
}

.thumbnail_1{
    display: block;
    border-radius: 5px;
    height: auto;
    width: 100%;
    box-shadow: 0px 4px 20px 1px rgba(251, 167, 167, 0.71); 
}


/*-----------DOWNLOAD SECTION---------*/


#content2 {
  
  grid-area: content2;
  padding-top: 30px;
    margin-left: 26px;
}

.title{
    color: #4b4b4b;
    font-size: 22px;
    font-weight: 800;
    line-height: 23px;
}
.art_name{
    font-size: 16px;
    font-weight: 200;
    margin-top: 5px;
}

.dwn_contr{
    padding: 0;
    margin-right: 20px;
}

.downld_btns{
    justify-items: center;
    padding-top: 10px;
    margin: auto;
    cursor: pointer;
}


.lbtn{
    color: #fff;
    background-color: #ef4c4c;
    margin-right: 40px;
}

.bttn{
    display: flex;
    height: 45px;
    padding: 0 20px;
    color: #fff;
    background: #ef4c4c;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-size: 10px;
    font-weight: 500;
    align-items: center;
}

.butto{
    display: flex;
    height: 45px;
    padding: 0;
    background: #ef4c4c;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-size: 10px;
    font-weight: 500;
    
}
.butto:hover{
    background: #ff5757;
}

.butto:active{
    background: #006e58;
}

#button_text,
#button_icon {
    display: inline-flex;
    align-items: center;
    padding: 0 20px;
    color: #fff;
    height: 100%;
}

#button_icon{
    font-size: 2em;
    background: rgba(0,0,0,0.08);
}




/*------------------------------END SONG1 SECTION-------------------------*/



/*-----------------------------------------------------------------RESPONSIVE MEDIA-----------------------------------------------*/


@media only screen and (max-width: 550px) {
  .container {
      display: grid;
    height: 160vh;
      justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 0.02fr 0.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "nav"
      "main"
      "content1"
      "content2"
      "content3"
      "content4"
      "content5"
      "content6"
      "content7"
      "content8"
      "content9"
      "content10"
      "content11"
      "content12"
      "content13"
      "content14"
      "content15"
      "content16"
      "content17"
      "content18"
      "content19"
      "content20"
      "content21"
      "content22"
      "content23"
      "content24"
      "content25"
      "content26"
      "footer";
    grid-gap: 0.5rem;
  /*--text-transform: uppercase;#FCFBFB--*/
  margin-top: 0 !important;
  width: 460px;
  margin: auto;
  margin-bottom: 0 !important;
  background-color: #fff1f1;
  border-radius: 10px;
  box-shadow: 0px 4px 20px 1px rgba(251, 167, 167, 0.51);
      
  }
    
    nav{
    padding: 0px;
    margin: 0px;
    width: 480px;
    margin: auto;
       
}
    
  #main{
      width: 430px !important;
       
    }
    .sticky{
        margin-right: 40px !important;
    }
    #note_msg{
        
        font-size: 8px !important;
    }
    
    
    .thumbnail_1{
    height: auto;
    width: 100%;
    margin-left: -80px !important;
    
    }
    
    #content2{
    margin-top: -40px !important;
    margin: auto;
    padding: 25px;
    padding-top: 30px;
    }
    
    .title{
    font-size: 20px;
    }
    
    
    .downld_btns{
    display: flex;
    margin-right: 0px !important;
    margin: auto;
    justify-content: center;
    }

    .dwn_contr{
    margin-right: 0 !important;
    padding: 20px;
    text-align: center;
    }

    #myBtn {
    right: 20px;
    bottom: 26px;
    }

    footer{
        width: 460px;
    }
    
    
}
/*-------------------------------------------RESPONSIVE MEDIA END-----------------------------------*/


/*-----------------------------------------------------------------RESPONSIVE MEDIA - IPHONE ---------....................---------------------------*/
@media only screen and (max-width: 375px) {
  .container {
      display: grid;
    height: 180vh;
      justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 0.02fr 0.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "nav"
      "main"
      "content1"
      "content2"
      "content3"
      "content4"
      "content5"
      "content6"
      "content7"
      "content8"
      "content9"
      "content10"
      "content11"
      "content12"
      "content13"
      "content14"
      "content15"
      "content16"
      "content17"
      "content18"
      "content19"
      "content20"
      "content21"
      "content22"
      "content23"
      "content24"
      "content25"
      "content26"
      "footer";
    grid-gap: 0.5rem;
  /*--text-transform: uppercase;#FCFBFB--*/
  margin-top: 0 !important;
  width: 350px;
  margin: auto;
  margin-bottom: 0 !important;
  background-color: #fff1f1;
  border-radius: 10px;
  box-shadow: 0px 4px 20px 1px rgba(251, 167, 167, 0.51);
      
  }
    
    nav{
    padding: 0px;
    margin: 0px;
    width: 350px;
    margin: auto;
       
}
    
  #main{
      width: 320px !important;
       
    }

    #note_msg{
        padding-top: 14px;
        font-size: 6px !important;
    }
    
    
    .thumbnail_1{
    
    height: auto;
    width: 90%;
    margin-left: -20px !important;
    
    }
    
    #content2{
        margin-top: -40px !important;
        margin: auto;
        padding: 25px;
    }
    
    .title{
        font-size: 18px;
    }
    
    
    .downld_btns{
    margin-right: 0px !important;
    }
    
    .butto{
        justify-content: center;
        justify-items: center;
    }
    
    .dwn_contr{
    margin-right: 0 !important;
        justify-items: center !important;
        text-align: center;
    }
    
    footer{
        width: 350px;
    }
}



